<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Merriweather:wght@400;700&display=swap">
    <title>Secure Password Manager</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Secure Password Manager</h1>
        
        <div class="form-container">
            <h2>Register</h2>
            <form action="/register" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <br>
                <label for="master_password">Master Password:</label>
                <input type="password" name="master_password" required>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>

        <div class="form-container">
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <br>
                <label for="master_password">Master Password:</label>
                <input type="password" name="master_password" required>
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>
